.icon1,
.root {
  overflow: hidden;
}
.icon1 {
  position: absolute;
  top: 55px;
  left: calc(50% - 899px);
  width: 1797px;
  height: 969px;
}
.root {
  position: relative;
  background-color: var(--color-navajowhite);
  width: 100%;
  height: 1080px;
}
